<!DOCTYPE html>
<html>
    <head>
        <link href="final.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <title>ProfessorHelp</title>
    </head>
    <body>
        <a href="https://sims.rutgers.edu/webreg/"><i class="fa fa-graduation-cap" style="font-size:75px;color:white;" > </i></a>
        <h1 class="major1">Foundations of Business Programming</h1>
        <h2 class="cORe">Professors</h2>
            <div class="scalep">
                    <div class="profrate">
                    <a href=final4.html><button class="profbt">Someone</button></a> 
                        <div class="num"> 
                        4.5 <i class="fa fa-star" style="font-size:30px;color:#FFC300;" > </i>
                        </div>
                    </div>
                    <div class="profrate">
                    <a href=""><button class="profbt">Someone1</button></a> 
                        <div class="num"> 
                        3.5 <i class="fa fa-star" style="font-size:30px;color:#FFC300;" > </i>
                        </div>
                    </div>
            </div>   
    </body>
</html>

