<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <%if (items.length >0) { %>
        <h1 class="major1"><%= items[0].ProfessorFirst %></h1>
        <% } %>
        <h2 class="cORe">Professors</h2>
        <% items.forEach(function (item) { %>
            <div class="scalep">
                    <div class="profrate">
                    <a href=final4/<%= item.ProfessorID %>><button class="profbt"><%= item.FullName %></button></a> 
                        <div class="num"> 
                        4.5 <i class="fa fa-star" style="font-size:30px;color:#FFC300;" > </i>
                        </div>
                    </div>
            </div>
        <% }) %>    
    </body>
</html>

