<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <%if (items.length >0) { %>
            <h1 class="major1"><%= items[0].FullName %></h1>
        <% } %>
            <div class="review">
                <a href=final5.html><button class="bt-review">Write a Review</button></a>  
            </div>
        <h3 class="box1"> Overall </h3>
            <div class="rate">
                4.5 Good!
            </div>
        <h3 class="box1"> Reviews </h3>   
        <% items.forEach(function (item) { %>
            <div class="reviewWrite">
                <div class="reviewHeader">
                    <div class="reviewerName"> <%= item.FirstName %> <%= item.LastName %> </div>
                </div>
                <div class="review"><%= item.Comment %> </div>
            </div> 
        <% }) %> 
    </body>
</html>

