<!DOCTYPE html>
<html>
    <head>
        <link href="final.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <title>ProfessorHelp</title>
    </head>
    <body>
        <a href="https://sims.rutgers.edu/webreg/"><i class="fa fa-graduation-cap" style="font-size:75px;color:white;" > </i></a>
        <h1 class="welcome">Welcome to ProfessorHelp </h1>
        <h2 class="select1"> Please select your major: </h2>
            <div class="yeet">
                <button class="btn info">Accounting </button> 
                <a href=final2.html><button class="btn info">Business Analytics & Information Technology </button></a>
                <button class="btn info">Finance </button> 
            </div>
            <div class="yeet">
                <button class="btn info">Leadership & Management </button> 
                <button class="btn info">Marketing </button> 
                <button class="btn info">Supply Chain Management </button>
            </div> 
            <div class="yeet">
                <button class="btn info">Business Core </button> 
            </div>
    </body>
</html>

