<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>
        <h1 class="welcome">Welcome to ProfessorHelp </h1>
        <h2 class="select1"> Please select your major: </h2>
            <div class="yeet">
                <button class="btn info">Accounting </button> 
                <a href=final2.html><button class="btn info">Business Analytics & Information Technology </button></a>
                <button class="btn info">Finance </button> 
            </div>
            <div class="yeet">
                <button class="btn info">Leadership & Management </button> 
                <button class="btn info">Marketing </button> 
                <button class="btn info">Supply Chain Management </button>
            </div> 
            <div class="yeet">
                <button class="btn info">Business Core </button> 
            </div>
    </body>
</html>

