<!DOCTYPE html>
<html>
    <head>
        <link href="final.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <title>ProfessorHelp</title>
    </head>
    <body>
        <a href="https://sims.rutgers.edu/webreg/"><i class="fa fa-graduation-cap" style="font-size:75px;color:white;" > </i></a>
        <h1 class="major1">Business Analytics & Information Technology</h1>
        <h2 class="cORe">Core Classes</h2>
            <div class="scale">
                    <a href=final3.html><button class="classbt">Foundations of Business Programming</button></a>
                    <button class="classbt">Business Decisions Analytics and Under Certainty</button>
                    <button class="classbt">Business Data Management</button>
                    <button class="classbt">Time Series Modeling</button>
            </div>   
        <h2 class="cORe">Electives</h2>
            <div class="scale">
                    <button class="classbt">Data Mining for Business Intelligence</button>
                    <button class="classbt">Enterprise Architecture</button>
                    <button class="classbt">Information System Security</button>
                    <button class="classbt">More Classes...</button>
            </div> 
    </body>
</html>

