<html>
    <body>
        <table id="table" >  
            <thead>  
                <tr>  
                    <th>Username</th>  
                    <th>Password</th>  
                </tr>  
            </thead>  
             <tbody>  
             
                <tr>  
                    <td><%= items %></td>  
                    <td>Major</td>
                </tr>                                   
             
             </tbody>
        </table>   
    </body>

</html>
